In [ ]:
# task 5

In [1]:
dict1  = {
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

#from the above dictionary, do the following tasks
#     1) access "Mike"
#    2) access 80
#   3) change "Mike" to "your name"
#  4) add ML=80 and DL=80 inside marks

In [2]:
dict1["april_batch"]["student"]["name"]    # 1) access "Mike"

'Mike'

In [3]:
dict1["april_batch"]["student"]["marks"]["python"]   # 2) access 80

80

In [4]:
dict1["april_batch"]["student"]["name"] = "tanveer"     # 3) change "Mike" to "your name"
dict1

{'april_batch': {'student': {'name': 'tanveer',
   'marks': {'python': 80, 'maths': 70}}}}

In [ ]:
# 4) add ML=80 and DL=80 inside marks

In [5]:
dict1["april_batch"]["student"]["marks"]["ML"]= 80
dict1

{'april_batch': {'student': {'name': 'tanveer',
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [6]:
dict1["april_batch"]["student"]["marks"]["DL"]= 80
dict1

{'april_batch': {'student': {'name': 'tanveer',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}